.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
compose.prod.yml

node_modules
vendor

.env
.env.*
!.env.example

database/*.sqlite*

public/build
public/hot

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

tests
.phpunit.result.cache
phpunit.xml

.idea
.vscode
.DS_Store
